---
import type { CollectionEntry } from 'astro:content';
interface Props {
  data: CollectionEntry<'sections'>;
}

const { data } = Astro.props;
const { sectionMeta, items } = data.data;
---

<!-- ====== Features Section Start -->
<section id="features" class="pt-20 lg:pt-[120px] pb-8 lg:pb-[70px] bg-white dark:bg-dark">
  <div class="container">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full px-4">
        <div class="mb-12 lg:mb-20 max-w-[620px] mx-auto text-center">
          <span class="font-semibold text-lg text-primary mb-2 block">
            {sectionMeta.sectionTitle}
          </span>
          <h2 class="font-bold text-3xl sm:text-4xl md:text-[42px] text-dark dark:text-white mb-4">
            {sectionMeta.sectionHeading}
          </h2>
          <p class="text-lg leading-relaxed text-body-color dark:text-dark-6 mx-auto max-w-[570px]">
            {sectionMeta.sectionDescription}
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap -mx-4">
      {items.map((feature) => (
        <div class="w-full px-4 md:w-1/2 lg:w-1/3">
          <div class="wow fadeInUp group mb-12" data-wow-delay=".1s">
            <div class="relative z-10 mb-8 flex h-[70px] w-[70px] items-center justify-center rounded-2xl bg-primary">
              <span class="absolute -top-3 -left-3 z-[-1] h-full w-full rounded-2xl bg-primary bg-opacity-20 transition duration-300 group-hover:bg-opacity-100"></span>
              <img src={feature.icon} alt={feature.title} class="w-10 h-10" />
            </div>
            <h4 class="mb-3 text-xl font-bold text-dark dark:text-white">
              {feature.title}
            </h4>
            <p class="mb-8 text-body-color dark:text-dark-6 lg:mb-9">
              {feature.description}
            </p>
            <a
              href={feature.ref}
              class="text-base font-medium text-dark dark:text-white hover:text-primary dark:hover:text-primary"
            >
              {feature.refTitle}
            </a>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
<!-- ====== Features Section End -->