---
import type { CollectionEntry } from 'astro:content';
import DecorationDots from './icons/DecorationDots.astro';
import SocialIcon from './icons/SocialIcon.astro';

interface Props {
  data: CollectionEntry<'sections'>;
}

const { data } = Astro.props;
const { sectionMeta, items } = data.data;
---

<!-- ====== Team Section Start -->
<section id="team" class="pt-20 pb-10 lg:pt-[120px] lg:pb-20 dark:bg-dark">
  <div class="container">
    <div class="-mx-4 flex flex-wrap">
      <div class="w-full px-4">
        <div class="mx-auto mb-[60px] max-w-[485px] text-center">
          <span class="mb-2 block text-lg font-semibold text-primary">
            {sectionMeta.sectionTitle}
          </span>
          <h2 class="mb-3 text-3xl font-bold leading-[1.2] text-dark dark:text-white sm:text-4xl md:text-[40px]">
            {sectionMeta.sectionHeading}
          </h2>
          <p class="text-base text-body-color dark:text-dark-6">
            {sectionMeta.sectionDescription}
          </p>
        </div>
      </div>
    </div>

    <div class="-mx-4 flex flex-wrap justify-center">
      {
        items.map((member) => (
          <div class="w-full px-4 sm:w-1/2 lg:w-1/3">
            <div class="wow fadeInUp mb-10" data-wow-delay=".1s">
              <div class="relative z-10 mx-auto mb-6 w-[270px]">
                <img
                  src={member.image}
                  alt={member.name}
                  class="w-full rounded-xl"
                />
                <span class="absolute top-0 left-0 z-[-1]">
                  <DecorationDots class="text-primary" />
                </span>
              </div>
              <div class="text-center">
                <h4 class="mb-1 text-lg font-semibold text-dark dark:text-white">
                  {member.name}
                </h4>
                <p class="mb-5 text-sm text-body-color dark:text-dark-6">
                  {member.position}
                </p>
                <div class="flex items-center justify-center gap-5">
                  {member.socials.map((social) => (
                    <a
                      href={social.url}
                      class="text-dark-6 hover:text-primary dark:text-dark-7 dark:hover:text-primary"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <SocialIcon name={social.name} class="h-4 w-4" />
                    </a>
                  ))}
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
<!-- ====== Team Section End -->
