---
import type { CollectionEntry } from 'astro:content';
import StarIcon from './icons/StarIcon.astro';
import QuoteIcon from './icons/QuoteIcon.astro';

interface Props {
  data: CollectionEntry<'sections'>;
}

const { data } = Astro.props;
const { sectionMeta, items } = data.data;
---

<!-- ====== Testimonials Section Start -->
<section class="pt-20 pb-20 lg:pt-[120px] lg:pb-[120px] dark:bg-dark">
  <div class="container">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full px-4">
        <div class="mx-auto mb-[60px] max-w-[520px] text-center">
          <span class="block mb-2 text-lg font-semibold text-primary">
            {sectionMeta.sectionTitle}
          </span>
          <h2 class="text-dark dark:text-white mb-3 text-3xl leading-[1.2] font-bold sm:text-4xl md:text-[40px]">
            {sectionMeta.sectionHeading}
          </h2>
          <p class="text-base text-body-color dark:text-dark-6">
            {sectionMeta.sectionDescription}
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap -mx-4">
      {
        items.map((testimonial) => (
          <div class="w-full px-4 md:w-1/2 lg:w-1/3">
            <div class="mb-8 rounded-xl bg-white dark:bg-dark-2 p-8 shadow-testimonial dark:shadow-none">
              <div class="flex items-center mb-5">
                <div class="relative mr-4 h-[50px] w-full max-w-[50px] overflow-hidden rounded-full">
                  <img
                    src={testimonial.image}
                    alt={testimonial.name}
                    class="w-full h-full object-cover"
                  />
                </div>
                <div class="w-full">
                  <h5 class="mb-1 text-lg font-semibold text-dark dark:text-white">
                    {testimonial.name}
                  </h5>
                  <p class="text-sm text-body-color dark:text-dark-6">
                    {testimonial.position}
                  </p>
                </div>
              </div>
              
              <div class="flex items-center mb-5">
                {[...Array(5)].map((_, index) => (
                  <StarIcon 
                    class={`w-5 h-5 ${
                      index < testimonial.rating 
                        ? "text-yellow-500" 
                        : "text-gray-300 dark:text-gray-600"
                    }`}
                  />
                ))}
              </div>

              <div class="relative mb-6 text-body-color dark:text-dark-6">
                <QuoteIcon class="absolute -top-4 -left-4 z-[-1] fill-[#13C296] opacity-10" />
                <p class="relative z-10">
                  {testimonial.content}
                </p>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
<!-- ====== Testimonials Section End -->

